body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%
}

#bar {
    background-color: #7d9758;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
}

#header {
    width: 80%;
    margin: auto;
}

#title {
    float: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
}

#title a {
    float: none;
    font-weight: bold;
    padding: 10px;
    padding-top: 15px;
    padding-left: 0px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

.fas fa-seedling {
    
}

.menu {
    float: right;
    padding: 10px;
    margin-top: 24px;
    width: 50%;
    margin-right: 0;
    text-align: right;
}

#button_repository {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    margin-right: 0px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}

#button_about, #button_contact, #button_gallery {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 30px;
}

#button_repository:hover, #button_about:hover, #button_contact:hover, #button_gallery:hover {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

#banner {
    width: 100%;
    margin-top: 0;
    position: static;
    display: inline-block;
    height: 88vh;
}

#banner_image {
    width: 40%;
    float: right;
    position: relative;
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    #banner_image {display:none;}
}

#subtitle {
    margin-left: 10%;
    padding: 10px;
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    margin-top: 150px; 
    color: #506423;
    width: 50%;
    font-weight: lighter;
}

#tag {
    margin-bottom: -50px;
}

.description {
    font-size: 18px;
    line-height: 30px;
}

.subtitle_button {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    width: 200px;
    background-color: #7d9758;
    border-radius: 30px;
    border: 2px solid #7d9758;
    padding: 20px;
    float: left;
    transition-duration: 0.3s;
    cursor: pointer;
    color: white;
}

.subtitle_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.subtitle_button span:after {
    content: '\00bb';
    font-size: 15px;
    position: absolute;
    opacity: 0;
    bottom: 3px;
    right: -20px;
    transition: 0.5s;
}
  
.subtitle_button:hover span {
    padding-right: 25px;
}
  
.subtitle_button:hover span:after {
    opacity: 1;
    right: 0;
}

#page {
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    background-color: #c7c69c;
}