body {
    margin: 0;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    background-color: #eff4d4;
}

#bar {
    background-color: #eff4d4;
    height: 90px;
}

#heading {
    width: 80%;
    margin: auto;
}

#title {
    float: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    color: #457e78;
}

#subtitle {
    float: none;
    margin-left: auto;
    display: inline-block;
    font-size: 8px;
    letter-spacing: 2px;
    color: #457e78;
}

.menu {
    float: right;
    padding: 10px;
    margin-top: 24px;
}

#button_repository {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    font-size: 15px;
    border: none;
    padding: 2px;
    background: none;
    width: 100px;
    float: right;
    transition-duration: 0.2s;
    cursor: pointer;
    color: #457e78;
}

#button_repository:hover {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

#page {
    width: 80%;
    margin: auto;
}

#banner_image {
    width: 100%;
}