body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

#bar {
    background-color: #7d9758;
    height: 90px;
}

#header {
    width: 80%;
    margin: auto;
}

#title {
    float: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
}

#title a{
    float: none;
    font-weight: bold;
    padding: 10px;
    padding-top: 15px;
    padding-left: 0px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

.menu {
    float: right;
    padding: 10px;
    margin-top: 24px;
    width: 50%;
    text-align: right;
}

#button_repository {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    margin-right: 00px;
    margin-left: 120px;
    transition-duration: 0.2s;
    cursor: default;
    color:#405a29;
    text-decoration: line-through 2px;
    position: relative;
}

#button_about, #button_contact, #button_gallery {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 30px;
    position: relative;
}

#button_about:hover, #button_contact:hover, #button_gallery:hover {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

#page {
    width: 80%;
    margin: auto;
}

#page_name {
    padding: 10px;
    letter-spacing: 3px;
    color: #506423;
}

#sort {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

#filter_name {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #506423;
    padding: 12px;
    font-size: 14px;
    border: 2px solid lightgray;
    background-color: white;
    transition-duration: 0.2s;
    outline: none;
}

#filter_name:hover {background-color: #ddd;}

#filter_name:hover #option_content {display: block;}

#option_content {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#option-content a {
    color: #506423;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.2s;
    position: relative;
}

#filter-content a:hover {background-color: #ddd;}

#filter_name:hover #option-content {display: block;}

#filter-dropdown:hover #filter {background-color: lightgrey;}

#option {
    font-weight: bold;
}

#option-content {
    font-size: 12px;
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 80px;
    margin-left: 30px;  
}

#option-content a {
    color: #506423;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.2s;
}

#option-content a:hover {background-color: #ddd;}

#filter-content:hover #option-content {display: block;}

#searchbar{
    float: right;
}

#search {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding: 12px;
    font-size: 14px;
    padding-bottom: 10px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 2px;
    outline: none;
}

#repository_table table {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    background: #f1f1f1;
}
  
#repository_table td, th {
    border: 1px solid #506423;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

#categories_row {
    background-color: #7d9758;
    color: white;
}

#herb_row:hover, #herb_row:focus-within {
    background: #d0e1bf;
    outline: none;
}

td > a:first-child {
  display: flex;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}
