body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

#bar {
    background-color: #7d9758;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
}

#header {
    width: 80%;
    margin: auto;
}

#title {
    float: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
}

#title a{
    float: none;
    font-weight: bold;
    padding: 10px;
    padding-top: 15px;
    padding-left: 0px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

.menu {
    float: right;
    padding: 10px;
    margin-top: 24px;
    width: 50%;
    text-align: right;
}

#button_repository {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    margin-right: 00px;
    margin-left: 120px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}

#button_about, .button_contact, #button_gallery {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 30px;
    position: relative;
}

#button_repository:hover, #button_about:hover, .button_contact:hover, #button_gallery:hover {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color:#405a29;
    text-decoration: line-through 2px;
    font-weight: bold;
}

#banner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#number {
    font-size: 200px;
    padding: 0px;
    color: #405a29;
    margin-top: 0px;
    display: inline-block;
}

#herb{
    display:inline-block;
    padding: 20px;
}

#herb_name {
    font-size: 80px;
    color: #7d9758;
    margin-bottom: -10px;
}

#categories {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    display: inline-block;
}

#main_image {
    width: 35%;
    float: right;
    position: relative;
    margin-top: -190px;
}

#page {
    margin-right: auto;
    margin-left: auto;
    height: 2000px;
    background-color: #c7c69c;
    position: relative;
}

.page_margin {
    width: 80%;
    margin: auto;
    height: 100%;
}

.page_title {
    padding: 10px;
    letter-spacing: 3px;
    color: #506423;
}

#user_input {
    padding-bottom: 5%;
    margin-top: 10%;
    padding-left: 1%;
    width: 42%;
    display: inline-block;
}

#name {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border: none;
    border-bottom: 2px solid #506423;
    outline: none;
    padding-bottom: 10px;
    width: 45%;
    font-size: 16px;
}

#email {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border: none;
    border-bottom: 2px solid #506423;
    outline: none;
    padding-bottom: 10px;
    width: 99.5%;
    font-size: 16px;
    padding-top: 10%;
}

#message {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border: none;
    padding-bottom: 10px;
    background-color: #e4f0d9;
    border-radius: 5px; 
    padding: 10px;
    outline: none;
    width: 97%;
    font-size: 16px;
    margin-top: 10%;
    border-bottom: 2px solid #506423;
    resize: none;
}

#submit {
    margin-top: 10%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    background-color: #7d9758;
    border-radius: 50px;
    border: 3px solid #7d9758;
    padding: 15px;
    float: left;
    cursor: pointer;
    color: white;
    outline: none;
    transition-duration: 0.3s;
}

#submit:hover {
    background-color: #e4f0d9;
    border-color: #7d9758;
    color: #7d9758;
}

#contact_card {
    width: 40%;
    float: right;
    margin-top: 5%;
    background-color: #7d9758;
    padding: 10px;
    padding-lefT: 50px;
    border-radius: 10px;
    height: 500px;
}

#information {
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
}

#footer {
    background-color: #7d9758;
    height: 25vh;
    margin: 0;
}

#footer_text {
    width: 80%;
    margin: auto;
    padding-top: 2%;
    background-color: #7d9758; 
}

#footer_title {
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: default;
}

.footer_name {
    width: 25%;
    float: left;
    position: relative;
}

.footer_column {
    padding-top: 10px;
    width: 10%;
    float: left;
    position: relative;
}

.footer_button {
    text-decoration: none;
    color: #c7c69c;
    transition-duration: 0.2s;
    width: fit-content;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}

.footer_button:hover {
    font-weight: bold;
    color: white;
}

#copyright {
    color: #c7c69c; 
    text-align: center;
    padding-bottom: 5px;
    margin-top: 18vh;
    position: absolute;
    float: center;
    width: 100%;
    cursor: default;
    background-color: #7d9758;
    font-size: 12px;
}