body {
    margin: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

#bar {
    background-color: #7d9758;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
}

#header {
    width: 80%;
    margin: auto;
}

#title {
    float: none;
    padding: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
}

#title a{
    float: none;
    font-weight: bold;
    padding: 10px;
    padding-top: 15px;
    padding-left: 0px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

.menu {
    float: right;
    padding: 10px;
    margin-top: 24px;
    width: 50%;
    text-align: right;
}

#button_repository {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    margin-right: 00px;
    margin-left: 120px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}

#button_about, #button_contact, #button_gallery {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 16px;
    border: none;
    padding: 2px;
    background: none;
    width: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 30px;
    position: relative;
}

#button_repository:hover, #button_about:hover, #button_contact:hover, #button_gallery:hover {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

#banner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

#number {
    font-size: 200px;
    padding: 0px;
    color: #405a29;
    margin-top: 0px;
    display: inline-block;
}

#herb{
    display:inline-block;
    padding: 20px;
}

#herb_name {
    font-size: 80px;
    color: #7d9758;
    margin-bottom: -10px;
}

#categories {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    display: inline-block;
}

#main_image {
    width: 35%;
    float: right;
    position: relative;
    margin-top: -190px;
}

#page {
    margin-right: auto;
    margin-left: auto;
    height: 2000px;
    background-color: #c7c69c;
    position: relative;
}

#footer {
    background-color: #7d9758;
    height: 20vh;
    margin-bottom: 0;
}

#footer_text {
    width: 80%;
    margin: auto;
    padding-top: 2%;
}

#footer_title {
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: default;
}

.footer_name {
    width: 25%;
    float: left;
    position: relative;
}

.footer_column {
    padding-top: 10px;
    width: 10%;
    float: left;
    position: relative;
}

.footer_button {
    text-decoration: none;
    color: #c7c69c;
    transition-duration: 0.2s;
    width: fit-content;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}

.footer_button:hover {
    font-weight: bold;
    color: white;
}

#copyright {
    color: #c7c69c; 
    text-align: center;
    margin-bottom: 0;
    margin-top: 14vh;
    position: absolute;
    float: center;
    width: 80%;
    cursor: default;
}
