{% extends "layout.html" %}
{% block title %} {{result[1]}} {% endblock %}
    {% block content %}

    <div id="banner"> <!-- displays herb id, herb name, herb rarity and herb type -->
        <h1 id="number">{{result[0]}}</h1>
        <div id="herb">
            <h2 id="herb_name">{{result[1]}}</h2>
            <pre id="categories">{{result[2]}} | {{result[3]}}</pre>
        </div>
        <img src="/static/image/{{result[6]}}" alt="Herb Illustration" id="main_image">
    </div>
    <div id="page">
    </div>

    {% endblock %}